mixin sRegister(data)
	// start sRegister
	+b.SECTION.sRegister.section#sRegister&attributes(attributes)
		.container
			.row
				.col-lg-6
					+e.left-side
						+b.link-back(href="#")
							+icon('arrow-left')
							img(src="img/svg/logo.svg", alt="")
						.section-title
							h1 Регистрация
						+e.subtitle Введите основные данные для вашего аккаунта, чтобы продолжить регистрацию
						+form-wrap
							.row.roww-sm
								.col-12.col-sm-6.col-lg-12
									+input('samplename', t='text', 'Название заведения', name= t)
									+e.link.mb-15
										.small Ваш домен статистики будет: #[a(href="#") samplename.fusionpos.ru]
										+b.tooltip(tabindex="0")
											+e.wrap ?
												+e.SPAN.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, optio?
								.col-12.col-sm-6.col-lg-12
									+input('Введите ваше имя', t='text', 'Ваше имя', name= t)
							.row.roww-sm
								.col-sm-6
									+input('E-mail', t='email', 'Ваша электронная почта', name= t)
								.col-sm-6
									+input('+7(___)___-__-__', t='tel', 'Номер телефона', name= t)
							.row.roww-sm
								.col-12.col-sm-6.col-lg-12
									+input('Введите пароль', t='password', 'Пароль', name= t)
								.col-12.col-sm-6.col-lg-12
									+input('Введите тот же пароль еще раз', t='password', 'Повторите пароль', name= t)
							+e.btn.btn.btn-primary(href="#" tabindex="0") ПРОДОЛЖИТЬ
							+e.polite Нажимая кнопку вы соглашаетесь с #[a(href="#") политикой конфиденциальности] и&nbsp;#[a(href="#") пользовательским соглашением]

				.col-lg-6
					+e.right-side
						+e.heading.d-none.d-lg-block Всего два шага чтобы зарегистрироваться и попробовать FusionPos бесплатно в течении 15 дней
						+b.data-lg.d-none.d-lg-block
							+e.item.active
								+e.heading
									+e.SPAN.count 1
									+e.SPAN.title Личные данные
								+e.text Идеально подходит для небольших заведений и проче и прочее
							+e.item
								+e.heading
									+e.SPAN.count 2
									+e.SPAN.title Данные о заведении
								+e.text Идеально подходит для небольших заведений и проче и прочее
						+e.img-wrap
							img(src="img/svg/tablet.svg", alt="")

			.row
				.col-lg-6
					+e.left-side
						+e.copyright © 2021 #[a(href="#") Политика конфиденциальности]
				.col-lg-6.d-none.d-lg-block
					+e.right-side
						+e.enter Уже проходили регистрацию? #[a(href="#") Войдите в аккаунт]

	// end sRegister